header {
  font-family: "Lato", sans-serif;
  & ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    & > li {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15rem;

      height: 2rem;
      transform: translateY(-2.5rem);

      & a:link {
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 800;
        font-size: 2rem;
        color: $color-ternary2;
        position:relative;

        &.active::after {
            content: "";
            width: 100%;
            display: block;
            background: $gradient fixed;
            height: .6rem;
          }

        &:hover::after {
          content: "";
          width: 100%;
          display: block;
          background: $gradient fixed;
          animation: .5s moveInBottom;
          height: .6rem;
        }
      }
    }
  }
}


