.input {
  min-height: 10rem;
  min-width: 50rem;
  max-width: 65rem;
  padding: 3rem;
  margin: 1rem 0 1rem 0;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  position: relative;

  &__core {
    border: 1px inset #38ef7d;
    margin: 2rem;
    overflow: auto;
    background: $gradient6;
    max-width: 90rem;

    // scrollbar style
    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }
  }

  &__question {
    // display: flex;

    
    & > * {
      flex: 1;
    }

    padding: 2rem;
    position: relative;

    input {
      width: 75%;
      height: 3rem;
      border-radius: 3px;

      // &:invalid {
      //   // border: 2px dashed red;
      //   animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
      // }
    }

    label {
      position: absolute;
      top: 0;
      left: 2rem;
      font-size: 1rem;
      opacity: 1;
      transform: translateY(0);
      transition: all 0.2s ease-out;
    }

    input:placeholder-shown + label {
      opacity: 0;
      transform: translateY(1rem);
    }

    input:required + .help-text::before {
      content: "*Required";
    }
  }

  &__condition {
    // display: flex;

    flex: 1;
    padding: 2rem;
    position: relative;

    & > * {
      flex: 1;
    }

    select {
      width: 5rem;
    }

    label {
      position: absolute;
      top: 0;
      left: 2rem;
      font-size: 1rem;
      opacity: 1;
      transform: translateY(0);
      transition: all 0.2s ease-out;
    }

    input {
      width: 75%;
      height: 3rem;
      border-radius: 3px;

      // &:invalid {
      //   // border: 2px dashed red;
      //   animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
      // }
    }

    input:placeholder-shown + label {
      opacity: 0;
      transform: translateY(1rem);
    }
  }

  &__type {
    display: flex;
    padding: 2rem;

    & > * {
      flex: 1;
    }


    select {
      width: 75%;
    }
  }

  &__error {
    font-size: 1.2rem;
    color: red;
    display: none;
  }

  // & input {
  //   height: 3rem;
  //   width: 75%;
  //   margin: 2rem;
  // }

  // & select {
  //   background: thistle;
  //   appearance: none;
  // }

  &__sub {
    border-radius: 5px;
  }

  &:hover {
    & .btn {
      &--remove {
        display: inline;
        position: absolute;
        top: 1rem;
        right: 1rem;
      }
    }
  }
}

@for $i from 3 through 78 {
  $margin-left: 10 * $i;

  .input__sub-#{$i} {
    margin-left: $margin-left + 0px;
    background-color: darken(lighten($color-ternary2, 25%), percentage($i/100));
    color: lighten(black, percentage($i/78));
  }
}
