// colors
$color-primary: #4bcffa;
$color-primary-light: #9ee5fc;
$color-primary-dark: #06b2ea;

// $color-secondary: #05c46b;
$color-secondary: #ffeee4;
// $color-secondary: #2c365d;

$color-ternary: #ff5e3a;
$color-ternary2: #05c46b;

// SET1
$color-primary: #222831;
$color-secondary: #393e46;
$color-ternary: #00adb5;
$color-quaternary: #eeeeee;
$grad: linear-gradient(to right bottom, $color-primary, $color-secondary);

$gradient: linear-gradient(to right bottom, #11998e, #38ef7d, #ece9e6);
$gradient-reversed: linear-gradient(to right bottom, #ece9e6, #11998e, #38ef7d);
$gradient2: linear-gradient(to right, #0f0c29, #302b63, #24243e);
$gradient3: linear-gradient(to right bottom, #f17f42, #ce6d39);
$gradient4: linear-gradient(90deg, #f2f2f0, #ce6d39);
$gradient5: linear-gradient(to right bottom, #ece9e6, #ffffff);
$gradient6: linear-gradient(to right bottom, #f2f2f0, #fffcef);
$gradient7: linear-gradient(90deg, #11998e, #38ef7d);
$gradient8: linear-gradient(to right, #1a2980, #26d0ce);
$gradient9: linear-gradient(to right bottom, #2b5876, #4e4376);
$gradient-delicate: linear-gradient(to right bottom, #d3cce3, #e9e4f0);
